@import "tailwindcss";

@theme {
  --color-indigo-50: #fef2f2;
  --color-indigo-100: #fee2e2;
  --color-indigo-200: #fecaca;
  --color-indigo-300: #fca5a5;
  --color-indigo-400: #f87171;
  --color-indigo-500: #ef4444;
  --color-indigo-600: #dc2626;
  --color-indigo-700: #b91c1c;
  --color-indigo-800: #991b1b;
  --color-indigo-900: #7f1d1d;

  --color-amber-50: #f8fafc;
  --color-amber-100: #f1f5f9;
  --color-amber-200: #e2e8f0;
  --color-amber-500: #475569;
  --color-amber-600: #0f172a;
  --color-amber-700: #020617;

  --color-emerald-50: #fef2f2;
  --color-emerald-100: #fee2e2;
  --color-emerald-500: #dc2626;
  --color-emerald-600: #b91c1c;

  --animate-scan: scan 2s ease-in-out infinite;
  
  @keyframes scan {
    0%, 100% {
      top: 0%;
    }
    50% {
      top: 100%;
    }
  }
}


